$height: 32px;
$font-size: 14px;
$border-radius: 4px;
$button-bg: #f5f5f5;
$button-bg-hover: darken($button-bg, 1.5%);
$button-bg-active: darken($button-bg, 14.5%);
$button-bg-disabled: #ebebeb;
$button-bg-primary: #98bcd5;
$button-bg-primary-hover: darken($button-bg-primary, 1.5%);
$button-bg-primary-active: darken($button-bg-primary, 14.5%);
$button-bg-success: #89d7bc;
$button-bg-success-hover: darken($button-bg-success, 1.5%);
$button-bg-success-active: darken($button-bg-success, 14.5%);
$button-bg-warn: #f1dca7;
$button-bg-warn-hover: darken($button-bg-warn, 1.5%);
$button-bg-warn-active: darken($button-bg-warn, 14.5%);
$button-bg-danger: #e2a5ad;
$button-bg-danger-hover: darken($button-bg-danger, 1.5%);
$button-bg-danger-active: darken($button-bg-danger, 14.5%);
$color-black: #333;
$color-white: #fefefe;
$disabled-color: #a0a0a0;
$border-color: #dedde2;
$border-color-light: lighten($border-color, 5%);
$border-color-hover: #c0c4cc;
$border-color-disabled: #c3c3c3;

$header-bg-color: #bcc2d7;
$sider-bg-color: #8895b1;
$footer-bg-color: #546c8c;
$layout-bg-color: #fff;

$font-blue: #194568;
$tab-height: 40px;
$tab-active-color: #8c8baa;

$button-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
$input-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
$toast-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
$cascader-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

$color-red: #de426b;
$color-deep-red: #c02955;
$bg-disabled: #ebebeb;

$toast-min-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.75);
