$height: 32px;
$font-size: 14px;
$border-radius: 4px;
$button-bg: #f5f5f5;
$button-bg-hover: darken($button-bg, 1.5%);
$button-bg-active: darken($button-bg, 14.5%);
$button-bg-disabled: #ebebeb;
$button-bg-primary: #98bcd5;
$button-bg-primary-hover: darken($button-bg-primary, 1.5%);
$button-bg-primary-active: darken($button-bg-primary, 14.5%);
$button-bg-success: #89d7bc;
$button-bg-success-hover: darken($button-bg-success, 1.5%);
$button-bg-success-active: darken($button-bg-success, 14.5%);
$button-bg-warn: #f1dca7;
$button-bg-warn-hover: darken($button-bg-warn, 1.5%);
$button-bg-warn-active: darken($button-bg-warn, 14.5%);
$button-bg-danger: #e2a5ad;
$button-bg-danger-hover: darken($button-bg-danger, 1.5%);
$button-bg-danger-active: darken($button-bg-danger, 14.5%);
$color-black: #333;
$color-grey: #5c5c5c;
$color-white: #fefefe;
$disabled-color: #a0a0a0;
$border-color: #dedde2;
$border-color-light: lighten($border-color, 5%);
$border-color-hover: #c0c4cc;
$border-color-disabled: #c3c3c3;
$slide-item-bg-active: rgba(0, 0, 0, 0.5);

$layout-bg-color: #fff;

$tab-height: 40px;
$tab-active-color: #8895b1;
$black-alpha: rgba(0, 0, 0, 0.15);

$button-box-shadow: 0 0 3px 1px $black-alpha;
$input-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
$input-box-shadow-error: 0 1px 3px rgba(255, 0, 0, 0.25) inset;
$toast-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
$cascader-box-shadow: 0 2px 8px $black-alpha;
$slide-box-shadow: 0 0 4px $slide-item-bg-active;

$color-red: #de426b;
$color-deep-red: #c02955;
$bg-disabled: #ebebeb;

$toast-min-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.75);

// loading 动画
@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Toast 组件的动画
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes top-slide-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes bottom-slide-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

// transition
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active,
.slide-reverse-enter-active,
.slide-reverse-leave-active {
  transition: all 0.4s;
}
.slide-enter {
  transform: translateX(100%);
}
.slide-leave-to {
  transform: translateX(-100%);
}
.slide-reverse-enter {
  transform: translateX(-100%);
}
.slide-reverse-leave-to {
  transform: translateX(100%);
}

// extend
.menu-item-title {
  padding: 0 20px;
  line-height: 48px;
  font-size: $font-size;
  color: $color-grey;
  position: relative;
}
.active-menu-item-title {
  font-weight: 700;
  color: $tab-active-color;
  &::after {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: $tab-active-color;
  }
}

// submenu icon 的样式
.submenu-title-arrow {
  transition: all 0.3s;
  font-size: 0.8em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.active-menu-item-title-vertical {
  font-weight: 700;
  color: $tab-active-color;
}

.active-menu-item-bg {
  color: $tab-active-color;
  background-color: lighten($tab-active-color, 20.5%);
}
// menu 水平时的 list 样式
.submenu-list-popper {
  transform: translateY(5px);
  border: 1px solid $border-color;
  position: absolute;
  top: 100%;
  background-color: $layout-bg-color;
  white-space: nowrap;
  box-shadow: $button-box-shadow;
  border-radius: $border-radius;
  z-index: 99;
  padding: 5px 0;
  min-width: 136px;
}
// menu 垂直时的 list 样式
.submenu-list-vertical {
  position: relative;
}
